*{
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    font-family: 'Raleway';
    outline: none;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    background-color: gray;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 10px #c7b4b4,
                      5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4, 68px);
}
input {
    grid-column: span 4;
    height: 70px;
    width: 215px;
    outline-style: double;
    outline-width: 2px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset -5px -5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 10px;
    color: rgba(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;

}

button {
    height: 48px;
    width: 48px;
    background-color: orange;
    box-shadow: -5px -5px 12px #57502b,
                 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;

}
button:hover {
    background-color: lightyellow;
    transform: translateY(3px);
}
.equal {
    width: 115px;
    border-radius: 40px;
    background-color: orange;
    box-shadow: -5px -5px 12px #57502b,
                 5px 5px 12px rgba(0, 0, 0, .16);
}